<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DownloadsFolderConrol.ConsoleSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DownloadsFolderConrol.PathSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DownloadsFolderConrol.PathSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DownloadsFolderConrol.ConsoleSettings>
            <setting name="ForegroundColorBase" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="ErrorColor" serializeAs="String">
                <value>red</value>
            </setting>
            <setting name="SyntaxColor" serializeAs="String">
                <value>yellow</value>
            </setting>
            <setting name="LineSpacing" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>black</value>
            </setting>
            <setting name="ResultsForeColor" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="ResultsBackColor" serializeAs="String">
                <value>darkblue</value>
            </setting>
        </DownloadsFolderConrol.ConsoleSettings>
        <DownloadsFolderConrol.PathSettings>
            <setting name="SavedImages" serializeAs="String">
                <value>D:\Images\Saved Pictures</value>
            </setting>
            <setting name="Downloads" serializeAs="String">
                <value>Downloads</value>
            </setting>
            <setting name="TestFolder" serializeAs="String">
                <value>D:\FileMoverTest</value>
            </setting>
            <setting name="SaveLocDict" serializeAs="String">
                <value>D:\FileMoverSavePaths.txt</value>
            </setting>
        </DownloadsFolderConrol.PathSettings>
    </userSettings>
    <applicationSettings>
        <DownloadsFolderConrol.PathSettings>
            <setting name="Music" serializeAs="String">
                <value>D:\Music\MP3</value>
            </setting>
            <setting name="WallPapers" serializeAs="String">
                <value>D:\Images\Desktop Wallpapers</value>
            </setting>
        </DownloadsFolderConrol.PathSettings>
    </applicationSettings>
</configuration>